/* ================LOST MESSAGE==================== */
.message{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #2d2d2dbe;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
}

.message .message-box{
    width: 30%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.message .message-box img{
    width: 100%;
}

.message .message-box button{
    padding: 8px 16px;
    margin-top: 20px;
    border: none;
    width: 100%;
    background-color: var(--black);
    color:var(--white);
    transition: all .2s;
    border-radius: 10px;
    cursor: pointer;
}

.message .message-box button:hover{
    box-shadow: 0 0 10px rgb(128, 128, 128);
    color: var(--yellow-4);
}

@media(max-width: 600px){
    .message .message-box{
        width: 80%;
    }
}

/* ================MOBILE NAV===================== */

.mobile-nav{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: var(--white);
    z-index: 999;
    color: var(--black);
    display: none;
}

.mobile-nav .horizontal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav h2{
    margin-bottom: 20px;
}

.mobile-nav img{
    height: 30px;
}

.mobile-nav p{
    font-size: 8vw;
    margin-bottom: 10px;
}

/* ============LOGIN OPTIONS================ */

.login-options{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: white;
    display: none;
    justify-content: center;
    align-items: center;
}

.login-options .close-button{
    height: 30px;
    position: absolute;
    right: 7vw;
    top: 8vw;
    cursor: pointer;
}

.login-options .horizontal {
    display: flex;
    justify-content: space-around;
    position: relative;
    gap: 20px;
}

.login-options .horizontal div{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.login-options .horizontal img{
    height: 4vw;
    border-radius: 10px;
}

@media(max-width: 600px){
    .login-options .horizontal {
        flex-direction: column;
    }

    .login-options .close-button{
        top: 20vw;
    }

    .login-options .horizontal div{
        gap: 20px;
    }

    .login-options .horizontal h2{
        font-size: 7vw;
    }

    .login-options .horizontal img{
        height: 10vw;
    }
}

/* ================MAIN=================== */

main {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
}

main .container {
    display: flex;
}

main .text-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

main .text-content h1 {
    line-height: 1em;
    margin-bottom: 20px;
}

main .text-content input {
    width: 70%;
    margin-block-start: 1vw;
    padding: 5px 12px;
    outline: none;
}

main .text-content .horizontal {
    display: flex;
    align-items: center;
    gap: 5px;
}

main .text-content .horizontal img {
    height: 3.5vw;
    cursor: pointer;
    padding: .9vw;
    border-radius: 100%;
    transition: all .2s;
}

main .text-content .horizontal img:hover {
    background-color: rgba(0, 0, 0, 0.199);
}

main .text-content button {
    margin-top: 1vw;
    width: fit-content;
    padding: 8px 15px;
    background-color: var(--yellow-4);
    border-radius: 3px;
    border: none;
    transition: all .2s;
    cursor: pointer;
    color: var(--black);
    font-weight: 500;
}

main .text-content button:hover {
    background-color: var(--yellow-1);
}

main .image-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

main .image-content img {
    width: 80%;
    height: 80%;
    margin-top: 30px;
    object-fit: cover;
    border-radius: 10px;

}

@media(max-width: 600px) {
    main .container {
        flex-direction: column;
        height: 100vh;
    }

    main .text-content {
        width: 100%;
        height: 50%;
        justify-content: end;
    }

    main .text-content .horizontal input {
        width: 100%;
    }

    main .text-content input {
        min-width: 100px;
        width: auto;
    }

    main .text-content .horizontal img {
        height: 7vw;
        padding: 1vw;
    }

    main .image-content {
        width: 100%;
        height: 50%;
    }

    main .image-content img {
        width: 100%;
    }
}

/* ==============SUGGESTIONS================ */

section.suggestions {
    width: 100%;
    background-color: var(--white);
    padding-block: 3vw;
    color: var(--black);
}

.suggestions .card-list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.suggestions .card-list .card {
    width: 48%;
    display: flex;
    background-color: white;
    padding: 1vw 1.5vw;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.055);
    border-radius: 10px;
    transition: all .2s;
}

.suggestions .card-list .card:hover {
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.374);
}

.suggestions .card-list .card .text-content{
    padding: 2vw;
}

.suggestions .card-list .card .text-content p {
    margin-block: 1vw;
}

.suggestions .card-list .card .text-content button {
    border: none;
    padding: 1vw 1.5vw;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}

.suggestions .card-list .card .text-content button:hover{
    background-color: var(--black);
    color: var(--yellow-4);
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.806);
}

.suggestions .card-list .card img {
    width: 40%;
    object-fit: contain;
}

@media(max-width: 600px) {
    .suggestions .card-list {
        flex-direction: column;
        gap: 2vw;
    }

    .suggestions .card-list .card {
        width: 100%;
        padding: 3vw;
    }

    .suggestions .card-list .card .text-content p {
        font-size: 3vw;
        margin-block: 2vw;
    }
}
/* ===============DRIVE=================== */

.drive {
    width: 100%;
    background-color: var(--white);
}

.drive .container {
    display: flex;
}

.drive .image-content {
    width: 50%;
}

.drive .image-content img {
    width: 90%;
    height: 80vh;
    object-fit: cover;
    border-radius: 10px;
}

.drive .text-content {
    width: 50%;
    padding: 4vw;
}

.drive .text-content h1 {
    line-height: 4vw;
}

.drive .text-content>p {
    margin-block: 3vw;
}

.drive .text-content .horizontal {
    display: flex;
    gap: 1vw;
    align-items: center;
}

.drive .text-content .horizontal button {
    background-color: var(--black);
    border: none;
    padding: 1vw 1.5vw;
    color: white;
    border-radius: .5vw;
    cursor: pointer;
    transition: all .2s;
}

.drive .text-content .horizontal button:hover {
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.747);
    color: var(--yellow-4);
}

.drive .text-content .horizontal p {
    text-decoration: underline;
    cursor: pointer;
    transition: all .2s;
}

.drive .text-content .horizontal p:hover {
    color: var(--yellow-1);
}

@media(max-width: 600px) {
    .drive .container {
        flex-direction: column;
    }

    .drive .image-content {
        width: 100%;
        height: 50vh;
    }

    .drive .image-content img {
        width: 100%;
        height: 100%;
    }

    .drive .text-content {
        width: 100%;
    }

    .drive .text-content h1{
        line-height: 11vw;
        margin-top: 3vw;
    }

    .drive .text-content>p {
        margin-block: 6vw;
    }

    .drive .text-content .horizontal{
        flex-direction: column;
        align-items: start;
    }

    .drive .text-content .horizontal button {
        padding: 2.5vw 3.5vw;
        border-radius: 10px;
        margin-bottom: 1vw;
    }
    
}

footer{
    background-color: var(--black);
    color: var(--white);
    padding-block: 2vw;
}

footer p{
    color: gray;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

footer .container > div{
    width: 32%;
}

footer .links p{
    cursor: pointer;
    transition: all .2s;
}

footer .links p:hover{
    color: var(--yellow-4);
}

footer .social img{
    height: 40px;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .2s;
    border-radius: 10px;
    padding: 8px;
}

footer .social img:hover{
    background-color: rgba(128, 128, 128, 0.457);
}

@media(max-width: 600px){
    footer .container{
        flex-direction: column;
        gap: 20px;
    }

    footer .container > div{
        width: 100%;
    }
}